header {
    height: 100vh;
    background: url(../img/header-bg.jpg) fixed no-repeat, linear-gradient(rgb(78, 20, 236) * .8, $secondary);
    background-size: cover;
    background-blend-mode: overlay;
    
    .watchword {
        position: relative;
        text-align: center;
    }
    i.fa-crown {
        color: $third;
        font-size: 4rem;
        text-shadow: 3px 1px 10px #111;

        position: absolute;
        top: -30px;
        left: -15px;
        transform: rotate(-18deg);
        animation: .9s glow ease-in-out 1.5s forwards;
    }
    i.fa-angle-down {
        cursor: pointer;
        margin-top: 1.5rem;
        color: rgba($third, .8);
        font-size: 3rem;

    }
    p {
        font-size: 1.7em;
        padding: .25em 0;
        color: $third;
        letter-spacing: .5em;
        background-color: rgba($secondary, .9);
        border-radius: .5em;
    }
    h1 {
        line-height: .9;
        font-size: 10rem;
        text-transform: uppercase;
        color: rgba($third, .9);
    }
}

@keyframes glow {
    0% {
        transform:  rotate(-18deg);
    }
    25% {
        transform:  rotate(-2.5deg);
        color: $third * 1.2;
    }
    50% {
        transform:  rotate(-7.5deg) scale(1.1);
        color: $primary;
    }
    75% {
        transform:  rotate(-3.5deg);
        color: $third * 1.2;
    }
    100% {
        transform:  rotate(-18deg);
    }
}