.modal {
    position: fixed;
    top: 2em;
    left: 2em;
    right: 2em;
    bottom: 2em;
    z-index: 99999;
    overflow-y: scroll;

    background: $third;
    box-shadow: 0 0 0 999px rgba(0, 0, 0, .3);
    border-radius: 1rem;

    display: none;

    &.open {
        display: block;
    }

    .closing {
        cursor: pointer;
        position: absolute;
        right: .5rem;
        top: .5rem;
        font-size: 3rem;
        color: $third;
        z-index: inherit;
    }

    // welcome section
    .welcome-user {
        position: relative;
        background: url(../img/contact-bg.jpg) no-repeat center, linear-gradient(45deg, rgb(86, 16, 133), rgb(9, 13, 218));
        background-size: contain;
        background-blend-mode: multiply;
        height: 40vh;        

        display: flex;
        flex-direction: column;
        justify-content: center;

        //padding: 2rem;

        // welcome msg
        .welcome-msg {
            padding: 2em;
        }
        h2 {
            font-size: 3rem;
            color: white;
            //text-shadow: 2px 2px 10px black;
        }

        p {
            display: inline-block;
            font-size: 1.2rem;
            color: $third;
            background: linear-gradient(45deg, rgba(125, 11, 201, 0.2), rgba(11, 14, 182, 0.9));
            box-shadow: 0 3px 5px rgba(17, 17, 17, 0.4);
            padding: .5em 1em;
            border-radius: 0 5px 0 5px;
        }

        svg {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 12vw;
            fill: $third;
        }
    }

    .user-profile {
        padding: 2em;
        list-style: none;

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;
        }

        li {
            border-bottom: 1px solid $third * .95;
            padding: 1.4em 0;
        }

        hr {
            margin: 1.7em 0;
        }
        .label {
            text-align: right;
            //margin: .3em 0;
            min-width: 110px;
            display: inline-block;
            font-size: 1.3rem;
            background: $third * .9;
            color: $third * .6;
            padding: 5px 10px;
            border-radius: 1em;
        }
        .user-data {
            color: $third * .4;
            font-size: 1.5rem;
            text-decoration: underline;
        }

        .user-picks {
            //margin: 2.5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                font-size: 4em;
                color: $third * .8;
            }
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        button.submit-btn {
            font-size: 1.2em;
            border: none;
            padding: 1em;
            background: $primary;
            color: $third;
            font-weight: 700;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background: $primary * .9;
            }
        }

        span.rebel {
            margin-left: 10px;
            text-decoration: underline;
            cursor: pointer;
        }


    }

    .rebel-msg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        font-weight: 900;
        color: $third;
        text-align: center;
    }

}

@keyframes alert {
    0% {
        background: $primary;
    }
    100% {
        background: $primary * .6;
    }
}