.planets {
    background: $third;
    color: $secondary;

    .card {
        background: $third*1.1;

        &.picked-card {
            background: $primary;
            h2 {
                color: $third;
            }
            p {
                color: $third * .9;
            }
        }
    }
    
    h2 {
        background: none;
        color: $third *.95;
        //border: 1px solid #eee;
    }
    p {
        color: $third * 0.5;
    }

    .btn {
        color: $third *.8;
        background: none;
        border: .1em solid $third * .9;
    }


    .description {
        h2, p {
            text-align: left;
            color: $third * .8;
        }
        p {
            text-align: justify;
        }
        hr {
            background: $third * .8;
        }
    }
}